<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tax_regime.name %>
</p>

<p>
  <b>Tax percentage:</b>
  <%= @tax_regime.tax_percentage %>
</p>


<%= link_to 'Edit', edit_tax_regime_path(@tax_regime) %> |
<%= link_to 'Back', tax_regimes_path %>
