<%- model_class = Lessee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:card_id_number) %>:</strong></dt>
  <dd><%= @lessee.card_id_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @lessee.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @lessee.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @lessee.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @lessee.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cellphone) %>:</strong></dt>
  <dd><%= @lessee.cellphone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tax_regime_id) %>:</strong></dt>
  <dd><%= tax_regime_name_by_id(@lessee.tax_regime_id) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:legal_nature_id) %>:</strong></dt>
  <dd><%= legal_nature_name_by_id(@lessee.legal_nature_id) %></dd>
  <!-- <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @lessee.type %></dd> -->
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lessees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lessee_path(@lessee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lessee_path(@lessee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


<a data-toggle="modal" data-target="#myModal" data-remote="<%= new_sex_path(@lessee) %> #modal-edit-fields" class="btn btn-mini">Weigh out</a>