<h1><%= t ".title" %></h1>

<table>
  <tr>
    <th>Description</th>
    <th>Code status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payment_statuses.each do |payment_status| %>
  <tr>
    <td><%= payment_status.description %></td>
    <td><%= payment_status.code_status %></td>
    <td><%= link_to t(".show"), payment_status %></td>
    <td><%= link_to t(".edit"), edit_payment_status_path(payment_status) %></td>
    <td><%= link_to t(".destroy"), payment_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(".new"), new_payment_status_path %>
