<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @payment_status.description %>
</p>

<p>
  <b>Code status:</b>
  <%= @payment_status.code_status %>
</p>


<%= link_to t(".edit"), edit_payment_status_path(@payment_status) %> |
<%= link_to t(".back"), payment_statuses_path %>
