<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Property</th>
    <th>Owner</th>
    <th>Lessee</th>
    <th>Initial date</th>
    <th>Final date</th>
    <th>Pay day</th>
    <th>Rate commission</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.code %></td>
    <td><%= contract.property_id %></td>
    <td><%= contract.owner_id %></td>
    <td><%= contract.lessee_id %></td>
    <td><%= contract.initial_date %></td>
    <td><%= contract.final_date %></td>
    <td><%= contract.pay_day %></td>
    <td><%= contract.rate_commission %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
