<p id="notice"><%= notice %></p>

<p>
  <b>Invoice number:</b>
  <%= @invoice.invoice_number %>
</p>

<p>
  <b>Value:</b>
  <%= @invoice.value %>
</p>

<p>
  <b>Interest value:</b>
  <%= @invoice.interest_value %>
</p>

<p>
  <b>Contract:</b>
  <%= @invoice.contract_id %>
</p>

<p>
  <b>Invoice date:</b>
  <%= @invoice.invoice_date %>
</p>

<p>
  <b>Month:</b>
  <%= @invoice.month %>
</p>

<p>
  <b>Year:</b>
  <%= @invoice.year %>
</p>

<p>
  <b>Invoice status:</b>
  <%= @invoice.invoice_status_id %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
