<p id="notice"><%= notice %></p>

<p>
  <b>Serie:</b>
  <%= @consecutive.serie %>
</p>

<p>
  <b>Consecutive type:</b>
  <%= @consecutive.consecutive_type_id %>
</p>


<%= link_to 'Edit', edit_consecutive_path(@consecutive) %> |
<%= link_to 'Back', consecutives_path %>
