<%= form_for(@property_facility) do |f| %>
  <% if @property_facility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_facility.errors.count, "error") %> prohibited this property_facility from being saved:</h2>

      <ul>
      <% @property_facility.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %><br />
    <%= f.number_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :facilities_id %><br />
    <%= f.number_field :facilities_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
