<h1><%= t ".title" %></h1>

<table>
  <tr>
    <th>Property</th>
    <th>Facilities</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @property_facilities.each do |property_facility| %>
  <tr>
    <td><%= property_facility.property_id %></td>
    <td><%= property_facility.facilities_id %></td>
    <td><%= property_facility.quantity %></td>
    <td><%= link_to t(".show"), property_facility %></td>
    <td><%= link_to t(".edit"), edit_property_facility_path(property_facility) %></td>
    <td><%= link_to t(".destroy"), property_facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(".new"), new_property_facility_path %>
