<p id="notice"><%= notice %></p>

<p>
  <b>Property:</b>
  <%= @property_facility.property_id %>
</p>

<p>
  <b>Facilities:</b>
  <%= @property_facility.facilities_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @property_facility.quantity %>
</p>


<%= link_to 'Edit', edit_property_facility_path(@property_facility) %> |
<%= link_to 'Back', property_facilities_path %>
