<h1><%= t ".title" %></h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @legal_natures.each do |legal_nature| %>
  <tr>
    <td><%= legal_nature.name %></td>
    <td><%= link_to t(".show"), legal_nature %></td>
    <td><%= link_to t(".edit"), edit_legal_nature_path(legal_nature) %></td>
    <td><%= link_to t(".destroy"), legal_nature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(".new"), new_legal_nature_path %>
