<h1>Hacer pagos</h1>

<table>
  <tr>
    <th>Invoice number</th>
    <th>Value</th>
    <th>Interest value</th>
    <th>Contract</th>
    <th>Invoice date</th>
    <th>Month</th>
    <th>Year</th>
    <th>Invoice status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.invoice_number %></td>
    <td><%= invoice.value %></td>
    <td><%= invoice.interest_value %></td>
    <td><%= invoice.contract_id %></td>
    <td><%= invoice.invoice_date %></td>
    <td><%= invoice.month %></td>
    <td><%= invoice.year %></td>
    <td><%= invoice.invoice_status_id %></td>
	
	<%= form_tag new_payment_path, :method => 'get' do %>	
	<td>
	<%= hidden_field_tag :id_invoice, invoice.id%>
	<%= submit_tag "Pagar" %>
	</td>
	<% end %>
    <!-- <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
   <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td> --> 
  </tr>
<% end %>
</table>
