<%= form_for @property, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :code, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owner_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :owner_id, Owner.order(:name) ,:id , :name, include_blank: false, :class => 'number_field' %>
  
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stratum, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :stratum, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :market_value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :market_value, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rental_fee, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rental_fee, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :neighborhood, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :neighborhood, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :appraisal, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :appraisal, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :property_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :property_type_id, PropertyType.order(:name) ,:id , :name, include_blank: false, :class => 'number_field' %>
      
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                properties_path, :class => 'btn' %>
  </div>
<% end %>
