<h1>Listing properties</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Owner</th>
    <th>Stratum</th>
    <th>Market value</th>
    <th>Rental fee</th>
    <th>Address</th>
    <th>Neighborhood</th>
    <th>City</th>
    <th>Phone</th>
    <th>Appraisal</th>
    <th>Property type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.code %></td>
    <td><%= property.owner_id %></td>
    <td><%= property.stratum %></td>
    <td><%= property.market_value %></td>
    <td><%= property.rental_fee %></td>
    <td><%= property.address %></td>
    <td><%= property.neighborhood %></td>
    <td><%= property.city %></td>
    <td><%= property.phone %></td>
    <td><%= property.appraisal %></td>
    <td><%= property.property_type_id %></td>
    <td><%= link_to 'Show', property %></td>
    <td><%= link_to 'Edit', edit_property_path(property) %></td>
    <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Property', new_property_path %>
