<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @property.code %>
</p>

<p>
  <b>Owner:</b>
  <%= @property.owner_id %>
</p>

<p>
  <b>Stratum:</b>
  <%= @property.stratum %>
</p>

<p>
  <b>Market value:</b>
  <%= @property.market_value %>
</p>

<p>
  <b>Rental fee:</b>
  <%= @property.rental_fee %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @property.neighborhood %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @property.phone %>
</p>

<p>
  <b>Appraisal:</b>
  <%= @property.appraisal %>
</p>

<p>
  <b>Property type:</b>
  <%= @property.property_type_id %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
