<%= form_for(@tax_regime) do |f| %>
  <% if @tax_regime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax_regime.errors.count, "error") %> prohibited this tax_regime from being saved:</h2>

      <ul>
      <% @tax_regime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tax_percentage %><br />
    <%= f.text_field :tax_percentage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
