<h1><%= t ".title" %></h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @facilities.each do |facility| %>
  <tr>
    <td><%= facility.name %></td>
    <td><%= link_to t(".show"), facility %></td>
    <td><%= link_to t(".edit"), edit_facility_path(facility) %></td>
    <td><%= link_to t(".destroy"), facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(".new"), new_facility_path %>




<%= link_to "My Link", new_facility_path,   id: "new_link", remote: true,class: "btn btn-primary" %>
<div id="response_data">
</div>