<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @invoice_status.description %>
</p>

<p>
  <b>Code status:</b>
  <%= @invoice_status.code_status %>
</p>


<%= link_to t(".edit"), edit_invoice_status_path(@invoice_status) %> |
<%= link_to t(".back"), invoice_statuses_path %>
