<h1>Listing business_document_types</h1>

<table>
  <tr>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @business_document_types.each do |business_document_type| %>
  <tr>
    <td><%= business_document_type.code %></td>
    <td><%= link_to 'Show', business_document_type %></td>
    <td><%= link_to 'Edit', edit_business_document_type_path(business_document_type) %></td>
    <td><%= link_to 'Destroy', business_document_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business document type', new_business_document_type_path %>
