<h1>Procesos Transaccionales</h1>

</br></br></br>




<p id="notice"><%= notice %></p>

<%= form_tag transaction_index_path, method: :get do%>
<p>
	
	 <div class="field">
	  <%=  "month" %><br />
	<%= select_month(Date.today, :field_name => :month)%>
    
	</div>
	<div class="field">
	  <%=  "year" %><br />
	<%= select_year(Date.today, :field_name => :year)%>
	</div>
<%= submit_tag 'Proceso de Facturaction', :name => 'billing' %>
<%= submit_tag 'Finalizar mes', :name => 'month_end' %>
</p>
<% end %>



