<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.number_field :code %>
  </div>
  <div class="field">
    <%= f.label :owner_name %><br />
    <%= f.text_field :owner_name, data: {autocomplete_source: owners_path} %>
  </div>
  <div class="field">
    <%= f.label :stratum %><br />
    <%= f.number_field :stratum %>
  </div>
  <div class="field">
    <%= f.label :market_value %><br />
    <%= f.text_field :market_value %>
  </div>
  <div class="field">
    <%= f.label :rental_fee %><br />
    <%= f.text_field :rental_fee %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br />
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :appraisal %><br />
    <%= f.text_field :appraisal %>
  </div>

  <div class="field">
    <%= f.label :property_type_id %><br />
	<%= f.select( :property_type_id,  PropertyType.all.map {|u| [u.name,u.id]}, {:include_blank => false}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
