<h1>Listing Owners</h1>

<table>
  <tr>
    <th>Card id number</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Cellphone</th>
    <th>Tax regime</th>
    <th>Legal nature</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.card_id_number %></td>
    <td><%= person.name %></td>
    <td><%= person.address %></td>
    <td><%= person.email %></td>
    <td><%= person.phone %></td>
    <td><%= person.cellphone %></td>
    <td><%= person.tax_regime_id %></td>
    <td><%= person.legal_nature_id %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_owner_path %>
