<h1><%= t ".title" %></h1>

<table>
  <tr>
    <th>Value</th>
    <th>Document</th>
    <th>Document type</th>
    <th>Movement date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @balance_movements.each do |balance_movement| %>
  <tr>
    <td><%= balance_movement.value %></td>
    <td><%= balance_movement.document_id %></td>
    <td><%= balance_movement.document_type_id %></td>
    <td><%= balance_movement.movement_date %></td>
    <td><%= link_to t(".show"), balance_movement %></td>
    <td><%= link_to t(".edit"), edit_balance_movement_path(balance_movement) %></td>
    <td><%= link_to t(".destroy"), balance_movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(".new"), new_balance_movement_path %>
