<!DOCTYPE html>
<html>
<head>
  <title>La casona</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="nav">
			<%= link_to_unless_current "Home", home_path%>
			<%= link_to_unless_current "Propiedades", properties_path%>
			<%= link_to_unless_current "Personas", people_path%>
			<%= link_to_unless_current "Propietario", owners_path%>
			<%= link_to_unless_current "Personas", people_path%>
			<%= link_to_unless_current "Tipos Propiedades", property_types_path%>
			<%= link_to_unless_current "Comodidades", facilities_path%>
			<%= link_to_unless_current "Contratos", contracts_path%>
			<%= link_to_unless_current "Regimen contributivo", tax_regimes_path%>
			<%= link_to_unless_current "Naturaleza legal", legal_natures_path%>
			<% Page.where(:visible => true).each do |page|%>
				<%= link_to_unless_current page.name, page_path(page.permalink)%>
			<% end %>
			
			
		</div>
		<%= yield %>
	</div>
</body>
</html>
